name: "deploy the entire app on release"


on:
   release:
     type: [published]

env:
  NODE_VERSION: ${{ vars.NODE_VERSION }}

jobs:
  backend-tests:
    name: Run backend tests
    runs-on: ubuntu-lastest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: run test
        run : npm run test:cov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}