name: "deploy the entire app on release"


on:
   release:
     type: [published]

env:
  NODE_VERSION: ${{ vars.NODE_VERSION }}

jobs:
  backend-tests:
    name: Run backend tests
    runs-on: ubuntu-lastest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
        with:
          path: ./backend
      - name: Setup Node ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: run test
        run : npm run test:cov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  backend-ecr-upload:
    name: Upload ECR to AWS
    runs-on: ubuntu-latest
    needs: backend-tests
    permissions: write-all
    outputs:
      image_tag: ${{ steps.get_image_tag.outputs.image_tag }}
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v4
        with:
          path: ./backend
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: linux/arm64

      - name: Get image name
        id: get_image_tag
        run: |
          REF="${{ github.ref_name }}"
          GIT_SHORT_HASH=$(git rev-parse --short HEAD)
          IMAGE_TAG=$(echo $REF | tr '[:upper:]' '[:lower:]')
          IMAGE_TAG=$(echo $IMAGE_TAG | sed 's/[^a-z0-9_.-]/-/g')
          IMAGE_TAG="$IMAGE_TAG-$GIT_SHORT_HASH"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          echo "image_tag=$IMAGE_TAG" >> "$GITHUB_OUTPUT"
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ vars.ECR_REGISTRY }}/${{ vars.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          provenance: false

  backend-deploy-staing:
    name: deploy backend to staging
    runs-on: ubuntu-latest
    needs: backend-ecr-upload
    environment: staging
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/github-actions
          aws-region: us-east-1